<!DOCTYPE html>
<html lang="en">
<head>

	<title>ToBigs 13th Conference Music Recommendation</title>
     <style> 
          small{color:rgb(108, 106, 106, 1)} 
     </style>
	<!--

    Template 1106 Soft Landing

	http://www.tooplate.com/view/1106-soft-landing

    -->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="team" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="static/css/bootstrap.min.css">
     <link rel="stylesheet" href="static/css/owl.carousel.css">
     <link rel="stylesheet" href="static/css/owl.theme.default.min.css">
     <link rel="stylesheet" href="static/css/font-awesome.min.css">
     <link rel="stylesheet" href="static/css/jquery-ui.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="static/css/tooplate-style.css">

</head>

<body>

    <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="/" class="navbar-brand">OK Mugle! </a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                         <li><a href="/" class="smoothScroll" >Music Recommendation</a></li>
                         <li><a href="/about" class="smoothScroll">About</a></li>
                         <li><a href="/people" class="smoothScroll">People</a></li>
                    </ul>
               </div>

          </div>
     </section>

     <!-- PEOPLE -->
     <section id="music_recommendation" data-stellar-background-ratio="0.5", style="padding-top: 5em;">
          <div class="overlay"></div>
          <div class="container">


               
               <div class="row">
                    <br><br><br>

                    <div class="col-md-4 col-sm-4">
                         <div style="display:flex; justify-content:center; position: relative; overflow: hidden;">
                              <div class="team-info team-thumb-up">
                                   <img src="static/images/lsb.jpg"  width="200" height="200" style= "border-radius: 20%"/>
                                   <h4 style = "color:white">이성범 (15기)</h4>
                                   <h5>음악은 나의 삶...</h5>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div style="display:flex; justify-content:center;
                         position: relative;
                         overflow: hidden;">
                              <div class="team-info team-thumb-up">
                                   <img src="static/images/kkh.jpg"  width="200" height="200" style= "border-radius: 20%"/>
                                   <h4 style = "color:white">김권호 (16기)</h4>
                                   <h5>멜론 게섰거라</h5>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div style="display:flex; justify-content:center;
                         position: relative;
                         overflow: hidden;">
                              <div class="team-info team-thumb-up">
                                   <img src="static/images/phn.jpg"  width="200" height="200" style= "border-radius: 20%"/>
                                   <h4 style = "color:white">박한나 (16기)</h4>
                                   <h5>우리 팀 최고~!</h5>
                              </div>
                         </div>
                    </div>
               </div>
               
               <div class="row">

                    <div class="col-md-4 col-sm-4">
                         <div style="display:flex; justify-content:center;
                         position: relative;
                         overflow: hidden;">
                              <div class="team-info team-thumb-up">
                                   <img src="static/images/lsj.jpg"  width="200" height="200" style= "border-radius: 20%"/>
                                   <h4 style = "color:white">이승주 (16기)</h4>
                                   <h5>음악은 마약...</h5>
                              </div>
                         </div>
                    </div>


                    <div class="col-md-4 col-sm-4">
                         <div style="display:flex; justify-content:center;
                         position: relative;
                         overflow: hidden;">
                              <div class="team-info team-thumb-up">
                                   <img src="static/images/lyl.jpg"  width="200" height="200" style= "border-radius: 20%"/>
                                   <h4 style = "color:white">이예림 (16기)</h4>
                                   <h5>명곡 알아가시길♡</h5>
                              </div>
                         </div>
                    </div>


                    <div class="col-md-4 col-sm-4">
                         <div style="display:flex; justify-content:center;
                         position: relative;
                         overflow: hidden;">
                              <div class="team-info team-thumb-up">
                                   <img src="static/images/jjh.jpg"  width="200" height="200" style= "border-radius: 20%"/>
                                   <h4 style = "color:white">주지훈 (16기)</h4>
                                   <h5>누워서 추천받는 삶을 원해요</h5>
                              </div>
                         </div>
                    </div>

               </div>

               <div class="row" style="float: none; margin:100 auto;">
                    
                    <div class="col-md-4 col-sm-4" style="float: none; margin:0 auto;">
                         <div style="display:flex; justify-content:center;
                         position: relative;
                         overflow: hidden;">
                              <div class="team-info team-thumb-up">
                                   <img src="static/images/lkr.jpg"  width="200" height="200" style= "border-radius: 20%"/>
                                   <h4 style = "color:white">이광록 (7기 / 멘토)</h4>
                              </div>
                         </div>
                    </div>
               </div>
          </div>

     </section>
     

</body>
</html>